.articleResume{
    padding: 30px 50px 15px 50px;
    border-bottom: 1px solid #8e1c4d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.35s;
}

.articleResume:hover{
    transform: scale(1.1);
    box-shadow: 0px 16px 15px -4px rgba(0, 0, 0, 0.21);
}

.resumeContent{
    width: 80%;
}

.resumeContent > p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 20px;
}

.articleLink{
    font-size: 1.5em;
    font-weight: 600;
    color: #8e1c4d;
}

.articleLink:hover{
    text-decoration: underline;
}