.article{
    width: 100%;
    background-color: white;
}

.articleCommentSection{
    padding: 15px 20px;
}

.commentFormSection{
    border-top:4px solid #8e1c4d;
    border-bottom:4px solid #8e1c4d;
}

.commentsList{
    border-top: 1px solid grey;
    padding: 20px 0;
}